services:
  - type: web
    name: exhaustion-bot
    env: docker
    region: frankfurt
    plan: free
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: PORT
        value: 10000
